@charset 'utf-8';

.apply-bgarea {padding-bottom:190px;background:url('../../images/apply/apply-hero.png') no-repeat center top;background-size:cover;position:relative;}

.apply-hero {padding:160px 0;text-align:center;}
.apply-hero-inner {max-width:1200px;margin:0 auto;position:relative;}
.apply-hero h1 {max-width:368px;margin:0 auto;opacity:0;}
.apply-hero p {max-width:378px;margin:19px auto 0;opacity:0;}
.apply-hero figure {max-width:626px;margin:20px auto 52px;opacity:0;}
.apply-hero footer {}
.apply-hero-cta {display:flex;align-items:center;justify-content:center;max-width:450px;height:56px;margin:3rem auto 0;border-radius:50px;text-align:center;background:var(--yellow);box-shadow:var(--shadow400);color:var(--gray0);font-size:18px;font-weight:800;}
.apply-hero-objects {}
.apply-hero-objects img {position:absolute;animation:pulse 2s ease infinite alternate;}
.apply-hero-objects img:nth-of-type(1) {width:46px;left:-47px;top:335px;}
.apply-hero-objects img:nth-of-type(2) {width:21px;left:-43px;top:714px;}
.apply-hero-objects img:nth-of-type(3) {width:21px;left:50px;top:130px;}
.apply-hero-objects img:nth-of-type(4) {width:21px;right:125px;top:-48px;}
.apply-hero-objects img:nth-of-type(5) {width:21px;right:102px;top:105px;}
.apply-hero-objects img:nth-of-type(6) {width:46px;right:-10px;top:674px;}
.apply-hero-objects img:nth-of-type(7) {width:46px;right:-78px;top:-26px}
.apply-hero-objects img:nth-of-type(8) {width:21px;right:-179px;top:488px;}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

/* // first second third mixin */
.is-observed.apply-hero h1 {animation:fadeup var(--animation-duration) linear 0s both;}
.is-observed.apply-hero p {animation:fadeup var(--animation-duration) linear .4s both;}
.is-observed.apply-hero figure {animation:fadeup var(--animation-duration) linear .8s both;}

.apply-intro {}
.apply-intro-inner {display:flex;flex-wrap:wrap;justify-content:space-evenly;max-width:1200px;margin:0 auto;padding:100px 0 124px;background:#fff;border-radius:20px;box-shadow:var(--shadow400);position:relative;}
.apply-intro-inner header {width:100%;margin:0 0 61px 0;text-align:center;opacity:0;}
.apply-intro-inner header > span {display:block;width:60px;margin:0 auto;opacity:0;}
.apply-intro-inner header h2 {margin:34px 0 0;font-size:40px;opacity:0;}
.apply-intro-inner div {width:20%;margin:0 38px;text-align:center;}
.apply-intro-inner div span {display:block;width:48px;height:48px;margin:0 auto 16px;}
.apply-intro-inner div h3 {margin:2px 0 6px;font-size:24px;}
.apply-intro-inner div p {font-size:18px;line-height:24px;}



.is-observed .apply-intro-inner header span {animation:fadeup var(--animation-duration) linear .4s both;}
.is-observed .apply-intro-inner header h2 {animation:fadeup var(--animation-duration) linear .8s both;}
.is-observed .apply-intro-inner header p {animation:fadeup var(--animation-duration) linear 1.2s both;}
.is-observed .apply-intro-inner div:nth-of-type(1) {animation:fadeup var(--animation-duration) linear 1.4s both;}
.is-observed .apply-intro-inner .line1 {animation:fadeup var(--animation-duration) linear 1.5s both;}
.is-observed .apply-intro-inner div:nth-of-type(2) {animation:fadeup var(--animation-duration) linear 1.6s both;}
.is-observed .apply-intro-inner .line2 {animation:fadeup var(--animation-duration) linear 1.7s both;}
.is-observed .apply-intro-inner div:nth-of-type(3) {animation:fadeup var(--animation-duration) linear 1.8s both;}
/* // 각각 뜨는 것에서 전체 뜨느 ㄴ것으로 변경됨... */
/* .is-observed .apply-intro-inner div:nth-of-type(1) span {animation:fadeup var(--animation-duration) linear 1.4s both;}
.is-observed .apply-intro-inner div:nth-of-type(1) h3 {animation:fadeup var(--animation-duration) linear 1.6s both;}
.is-observed .apply-intro-inner div:nth-of-type(1) p {animation:fadeup var(--animation-duration) linear 1.8s both;}
.is-observed .apply-intro-inner .line1 {animation:fadeup var(--animation-duration) linear 1.9s both;}
.is-observed .apply-intro-inner div:nth-of-type(2) span {animation:fadeup var(--animation-duration) linear 2s both;}
.is-observed .apply-intro-inner div:nth-of-type(2) h3 {animation:fadeup var(--animation-duration) linear 2.2s both;}
.is-observed .apply-intro-inner div:nth-of-type(2) p {animation:fadeup var(--animation-duration) linear 2.4s both;}
.is-observed .apply-intro-inner .line2 {animation:fadeup var(--animation-duration) linear 2.5s both;}
.is-observed .apply-intro-inner div:nth-of-type(3) span {animation:fadeup var(--animation-duration) linear 2.6s both;}
.is-observed .apply-intro-inner div:nth-of-type(3) h3 {animation:fadeup var(--animation-duration) linear 2.8s both;}
.is-observed .apply-intro-inner div:nth-of-type(3) p {animation:fadeup var(--animation-duration) linear 3s both;} */



.apply-benefit {}
.apply-benefit-inner {max-width:1200px;margin:80px auto 0;padding:100px 0 94px;background:#fff;border-radius:20px;box-shadow:var(--shadow400);position:relative;}
.apply-benefit-inner header {margin:0 0 40px 0;text-align:center;}
.apply-benefit-inner header > span {display:block;width:60px;margin:0 auto;opacity:0;}
.apply-benefit-inner header h2 {margin:34px 0 24px;font-size:40px;opacity:0;}
.apply-benefit-inner figure {max-width:456px;margin:0 auto;opacity:0;}
.apply-benefit-inner .coins {}
.apply-benefit-inner .coins img {position:absolute;animation:apply-coin 4s ease infinite both;}
.apply-benefit-inner .coins img:nth-of-type(1) {width:244px;left:-142px;top:60px;animation-duration:6s;}
.apply-benefit-inner .coins img:nth-of-type(2) {width:323px;left:-226px;top:431px;animation-duration:2s;}
.apply-benefit-inner .coins img:nth-of-type(3) {width:372px;left:0;top:87%;animation-duration:3s;}
.apply-benefit-inner .coins img:nth-of-type(4) {width:336px;right:-209px;top:333px;animation-duration:5s;}
.apply-benefit-inner .coins img:nth-of-type(5) {width:311px;right:calc(-311px - 100px);bottom:-340px;animation-duration:2s;}

.is-observed .apply-benefit-inner header > span {animation:fadeup var(--animation-duration) linear 0s both;}
.is-observed .apply-benefit-inner header h2 {animation:fadeup var(--animation-duration) linear .4s both;}
.is-observed .apply-benefit-inner figure {animation:fadeup var(--animation-duration) linear .8s both;}

.apply-how {padding:124px 0;background:#f9f9f9;}
.apply-how-inner {max-width:1200px;margin:0 auto;position:relative;}
.apply-how-inner header {width:100%;margin:0 0 60px 0;text-align:center;}
.apply-how-inner header span {display:block;width:60px;margin:0 auto;opacity:0;}
.apply-how-inner header h2 {margin:34px 0 24px;font-size:40px;opacity:0;}
.apply-how-inner header p {font-size:24px;font-weight:bold;opacity:0;}
.apply-how-inner header p em {font-weight:bold;}
.apply-how-inner .wrap {display:flex;flex-wrap:wrap;justify-content:space-between;}
.apply-how-inner .wrap > div {width:100%;max-width:382px;padding:64px 0 48px;text-align:center;position:relative;}
.apply-how-inner .wrap > div .bg {border-radius:16px;box-shadow:var(--shadow400);position:absolute;left:0;right:0;top:0;bottom:0;}
.apply-how-inner .wrap > div span {display:block;width:186px;height:186px;margin:0 auto 30px;position:relative;z-index:1;}
.apply-how-inner .wrap > div em {font-size:21px;font-weight:bold;position:relative;z-index:1;}
.apply-how-inner .wrap > div h3 {margin:2px 0 6px;font-size:24px;color:var(--black);position:relative;z-index:1;}
.apply-how-inner .wrap > div p {font-size:18px;line-height:24px;position:relative;z-index:1;}

.is-observed .apply-how-inner header span {animation:fadeup var(--animation-duration) linear .0s both;}
.is-observed .apply-how-inner header h2 {animation:fadeup var(--animation-duration) linear .4s both;}
.is-observed .apply-how-inner header p {animation:fadeup var(--animation-duration) linear .8s both;}


.apply-notice {
    padding: 140px var(--grid-margin);
    background: #ececec;
  }
  .apply-notice-inner {
    max-width: 744px;
    margin: 0 auto;
    position: relative;
  }
  .apply-notice header {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #c0c0c0;
  }
  /* .apply-notice header hr {
      height: 1px;
      margin: 20px 0;
      background: #c0c0c0;
  } */
  .apply-notice header img {
      width: 46px;
      margin-right: 8px;
  }
  .apply-notice header h2 {
    font-size: 30px;
  }
  .apply-notice ul {
  }
  .apply-notice ul li {
    margin: 6px 0;
    font-size: 18px;
    color: var(--gray700);
  }

.apply-notice ul li:before {content:'';display:inline-block;width:4px;height:4px;margin:0 10px 0 0;border-radius:50%;background:#818181;vertical-align:middle;}

.is-observed .apply-how-inner header {animation:fadeup var(--animation-duration) linear both;}

.is-observed .apply-intro {}
/* .is-observed .apply-intro-inner {display:flex;flex-wrap:wrap;justify-content:space-evenly;max-width:1200px;margin:0 auto;padding:100px 0 124px;background:#fff;border-radius:20px;box-shadow:var(--shadow400);}
.is-observed .apply-intro-inner header {width:100%;margin:0 0 61px 0;text-align:center;}
.is-observed .apply-intro-inner header > span {display:block;width:60px;margin:0 auto;}
.is-observed .apply-intro-inner header h2 {margin:34px 0 0;font-size:40px;}
.is-observed .apply-intro-inner div {width:20%;margin:0 38px;text-align:center;} */



.is-observed .apply-how-inner .wrap > div .bg,
.is-observed .apply-how-inner .wrap > div span,
.is-observed .apply-how-inner .wrap > div em,
.is-observed .apply-how-inner .wrap > div h3,
.is-observed .apply-how-inner .wrap > div p {display:block;animation:fadeup var(--animation-duration) linear both .8s;}
.is-observed .apply-how-inner .wrap > div:nth-of-type(1) .bg {animation-delay:1.2s;}
.is-observed .apply-how-inner .wrap > div:nth-of-type(1) span {animation-delay:1.6s;}
.is-observed .apply-how-inner .wrap > div:nth-of-type(1) em {animation-delay:2s;}
.is-observed .apply-how-inner .wrap > div:nth-of-type(1) h3 {animation-delay:2.4s;}
.is-observed .apply-how-inner .wrap > div:nth-of-type(1) p {animation-delay:2.4s;}
.is-observed .apply-how-inner .wrap > div:nth-of-type(2) .bg {animation-delay:2s;}
.is-observed .apply-how-inner .wrap > div:nth-of-type(2) span {animation-delay:2.4s;}
.is-observed .apply-how-inner .wrap > div:nth-of-type(2) em {animation-delay:2.8s;}
.is-observed .apply-how-inner .wrap > div:nth-of-type(2) h3 {animation-delay:3.2s;}
.is-observed .apply-how-inner .wrap > div:nth-of-type(2) p {animation-delay:3.2s;}
.is-observed .apply-how-inner .wrap > div:nth-of-type(3) .bg {animation-delay:2.8s;}
.is-observed .apply-how-inner .wrap > div:nth-of-type(3) span {animation-delay:3.2s;}
.is-observed .apply-how-inner .wrap > div:nth-of-type(3) em {animation-delay:3.6s;}
.is-observed .apply-how-inner .wrap > div:nth-of-type(3) h3 {animation-delay:4s;}
.is-observed .apply-how-inner .wrap > div:nth-of-type(3) p {animation-delay:4s;}

.is-observed .apply-notice-inner header {animation:fadeup var(--animation-duration) linear both;}
.is-observed .apply-notice-inner hr {}
.is-observed .apply-notice-inner ul {animation:fadeup var(--animation-duration) linear .4s both;}






@media (max-width:1024px) {
  .apply-bgarea {padding-bottom: 45px;background:#ECF8FF;}

  .apply-hero {
    padding: 82px 0 0;
    background: url('../../images/apply/apply-hero-mobile.png') no-repeat center top #48A2F6;
  }

  
  .apply-hero footer {padding:30px var(--grid-margin);background:#ECF8FF;}
  .apply-hero-cta {margin-top:0;}

  .apply-intro {padding:0 var(--grid-margin);background:#ECF8FF;}
  .apply-intro-inner {display:block;padding-top:32px;padding-bottom:59px;}
  .apply-intro-inner header {margin-bottom:32px;}
  .apply-intro-inner header span {width:8.74635568513%;}
  .apply-intro-inner header h2 {margin-top:25px;font-size:24px;}
  .apply-intro-inner div {width:100%;margin:24px 0 0;}
  .apply-intro-inner div h3 {font-size:18px;}
  .apply-intro-inner div p {font-size:16px;}
  .apply-intro-inner .line {display:block;width:31px;height:1px;margin:24px auto;background:#ececec;}



  .apply-benefit {padding:20px var(--grid-margin) 0;background:#ECF8FF;}
  /* .apply-benefit-inner {margin:0 auto 0;padding:32px 0 70px;} */
  .apply-benefit-inner {margin:0 auto 20px;padding:32px 0 70px;}
  .apply-benefit-inner header {margin:0 0 40px 0;}
  .apply-benefit-inner header > span {display:block;width:8.74635568513%;margin:0 auto;}
  .apply-benefit-inner header h2 {margin:24px 0 41px;font-size:24px;line-height:32px;}
  .apply-benefit-inner figure {width:66.7638483965%}
  .apply-benefit-inner .coins img:nth-of-type(1) {width:26.13333333333%;left:-8%;top:11.82170542636%;}
  .apply-benefit-inner .coins img:nth-of-type(2) {width:34.13333333333%;left:-15%;top:46%;}
  .apply-benefit-inner .coins img:nth-of-type(3) {width:51.2%;left:-19%;}
  .apply-benefit-inner .coins img:nth-of-type(4) {width:35.73333333333%;right:-18%;top:35%;}
  .apply-benefit-inner .coins img:nth-of-type(5) {width:33.06666666667%;right:-14%;bottom:-15%;}
  
  

  .apply-how {padding:32px var(--grid-margin) 50px;}
  .apply-how-inner {display:block;position:relative;}
  .apply-how-inner header {margin-bottom:30px;}
  .apply-how-inner header span {width:8.74635568513%;}
  .apply-how-inner header h2 {margin-top:25px;margin-bottom:16px;font-size:24px;}
  .apply-how-inner header p {font-size:14px;}
  .apply-how-inner .wrap > div {max-width:100%;margin:20px 0 0;padding:30px 7.28862973761% 44px;}
  .apply-how-inner .wrap > div em {font-size:16px;}
  .apply-how-inner .wrap > div h3 {font-size:18px;}
  .apply-how-inner .wrap > div p {font-size:16px;}


  .apply-notice {padding:40px 9.6%;}
  .apply-notice header {margin-bottom:0;padding-bottom:4px;border-bottom:0;}
  .apply-notice header img {width: 18px;}
  .apply-notice hr {display:none;margin:1rem 0;}
  .apply-notice header h2 {font-size: 14px;}
  .apply-notice ul li {font-size:12px;}
  .apply-notice ul li:before {width:2px;height:2px;margin:0 8px 0 0;}

  .is-observed .apply-intro-inner div span {animation:fadeup var(--animation-duration) linear .4s both;}
  .is-observed .apply-intro-inner div h3 {animation:fadeup var(--animation-duration) linear .8s both;}
  .is-observed .apply-intro-inner div p {animation:fadeup var(--animation-duration) linear 1.2s both;}

}