@charset 'utf-8';

/* @import url('abstracts/reset.css'); */
@import url('abstracts/webfonts.css');
@import url('abstracts/variables.css');
@import url('abstracts/keyframes.css');

/* @import url('components/navbar.css'); */
@import url('components/hero.css');
@import url('components/browser.css');
@import url('components/footer.css');

body,dl,dd,figure,blockquote,h1,h2,h3,h4,h5,h6,p,input[type=radio] {margin:0;}
ul,ol,menu,fieldset,legend {margin:0;padding:0;}
fieldset,iframe,img,hr {border:0 none} dl,ol,ul,menu {list-style:none}
main,picture {display:block;}
iframe,img,video {display:block;width:100%;} /*img {vertical-align:middle;}*/
h1,h2,h3,h4,h5,h6 {line-height:1.4;font-weight:bold;color:var(--gray800);word-break:keep-all;}
strong,b,th,legend {font-weight:bold;color:var(--gray800);}
em {font-style:normal;color:var(--color-primary);}
address {font-style:normal;}
small {} 
a {text-decoration:none;text-decoration-skip-ink:auto;color:var(--color-primary);} a:link,a:visited {} a:hover,a:focus {} a:active {}
/* // br {content:'';display:block;height:1rem;} */
html {min-width:320px;height:100%;font:16px/1.8 var(--fontstack);color:var(--gray800);-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;overscroll-behavior:contain;overflow-x:hidden;}
body {background:var(--gray0);overflow-x:hidden;letter-spacing:-.025rem;}

svg {color:var(--gray800);}

::selection {background:var(--gray800);color:var(--gray0);}
::placeholder {color:var(--gray400);}

button {
  padding:0;
  border:none;
  background:none;
  font:inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

:root {
  --animation-duration: .8s;
  --animation-delay-first: 0s;
  --animation-delay-second: .8s;
  --animation-delay-third: .8s;
}

.navbar {display:flex;align-items:center;justify-content:space-between;height:var(--navbar-height);padding:0 2rem;border-bottom:1px solid #fafafa;background:var(--gray0);position:fixed;left:0;right:0;top:0;z-index:8;transition:all .4s;}
.navbar-logo {width:96px;}
.navbar-logo img {display:block;}
.navbar-menu {display:flex;align-items:center;margin-right:-1rem;position:relative;}
.navbar-menu-item {padding:0 1rem;font-size:16px;color:var(--gray700);position:relative;z-index:1;}
.navbar-menu-item.is-active {color:var(--gray999);font-weight:var(--weight-bold);}
.navbar.is-fixed {position:fixed;left:0;right:0;top:0;}
.navbar-backdrop {height:var(--navbar-height);}

/* .is-navbar-up .navbar {transform:translateY(calc(-1 * var(--navbar-height)));} */

/* .is-fixed-home-tablist .navbar {transform:translateY(0);} */
/* .is-fixed-home-tablist .home-tablist {position:fixed;top:0;z-index:7;transform:translateY(var(--navbar-height));} */
.is-fixed-home-tablist .home-tablist {position:fixed;top:0;z-index:9;}

.is-fixed-home-tablist.is-navbar-up .navbar {transform:translateY(calc(-1 * var(--navbar-height)));}
.is-fixed-home-tablist.is-navbar-up .home-tablist {transform:translateY(0);}



.home-tablist {border-bottom:1px solid #f1f1f1;background:var(--gray0);position:absolute;left:0;right:0;z-index:9;transition:all .4s;}
.home-tablist-inner {display:flex;justify-content:center;max-width:var(--width-large);margin:0 auto;}
.home-tablist-tab {display:block;width:20%;padding:1rem 0;border-bottom:4px solid transparent;text-align:center;}
.home-tablist-tab small {display:block;color:var(--gray600);}
.home-tablist-tab b {color:var(--gray600);}
.home-tablist-tab[aria-selected=true] {border-color:var(--color-primary);}
.home-tablist-tab:hover b {color:#4c4c4c;}
.home-tablist-tab:hover small {color:#4c4c4c;}
.home-tablist-tab[aria-selected=true] b {color:#4c4c4c;}
.home-tablist-tab[aria-selected=true] small {color:#4c4c4c;}
.home-tablist-backdrop {height:85px;position:relative;}

.home-tabpanel-section {overflow:hidden;position:relative;}
.home-tabpanel-section.bg-dotted {background:url(../images/tabpanel3-section2-bg.png) repeat 0 0;}
.home-tabpanel-section-inner {max-width:var(--width-large);margin:0 auto;padding:18rem var(--grid-margin);position:relative;}
.home-tabpanel-section-title {margin:0 0 1rem 0;font-size:var(--title);font-weight:var(--font-weight-bold);opacity:0;}
.home-tabpanel-section-description {opacity:0;color:var(--gray600);word-break:keep-all;}
.home-tabpanel-section-media {opacity:0;}
.home-tabpanel-section-background {position:absolute;left:0;right:0;top:0;bottom:0;}
.home-tabpanel-section-background.tab3-4 {opacity:.1;}

.align-centered .home-tabpanel-section-inner {padding:7.5rem 0;text-align:center;}
.align-centered .home-tabpanel-section-media {margin:3rem auto 0;}
.align-half .home-tabpanel-section-inner {display:flex;flex-wrap:wrap;align-items:center;}
.align-half .home-tabpanel-section-title {padding-left:57%;}
.align-half .home-tabpanel-section-description {padding-left:57%;}

.home-tabpanel-section.background .home-tabpanel-section-title {color:var(--gray0);}
.home-tabpanel-section.background .home-tabpanel-section-description {color:var(--gray500);}

.home-tabpanel {background: var(--gray0);position: relative;z-index: 1;}
.home-tabpanel[aria-hidden=true] {display:none;}

/* ! observer */
.is-observed {}
.is-observed .home-tabpanel-section-title {animation:fadeup var(--animation-duration) forwards;}
.is-observed .home-tabpanel-section-description {animation:fadeup var(--animation-duration) .5s forwards;}
.is-observed .home-tabpanel-section-media {animation:fadeup var(--animation-duration) 1s forwards;}

.tabpanel1-1-wrap { max-width: 874px;}
  
.tabpanel2-4-wrap {max-width: 758px;}

.tabpanel1-3-wrap {max-width:816px;position:relative;}
.tabpanel1-3-frame {opacity:0;}
.tabpanel1-3-1 {position:absolute;left:0;right:0;top:0;bottom:0;z-index:1;}
.tabpanel1-3-2 {position:absolute;left:0;right:0;top:0;bottom:0;}

.is-observed .tabpanel1-3-1 {animation:tab1-3-1 4s ease 4s infinite alternate;}
/* .is-observed .tabpanel1-3-2 {animation:tab1-3-1 2s linear 4s both infinite;} */


.tabpanel1-3-background img {position:absolute;}
.tabpanel1-3-o {max-width:14px;bottom:-100px;}
.tabpanel1-3-x {max-width:20px;bottom:-100px;}
/* 1 ~ 7까지 -o */
.tabpanel1-3-background img:nth-of-type(1) {}
.tabpanel1-3-background img:nth-of-type(2) {}
.tabpanel1-3-background img:nth-of-type(3) {}
.tabpanel1-3-background img:nth-of-type(4) {}
.tabpanel1-3-background img:nth-of-type(5) {}
.tabpanel1-3-background img:nth-of-type(6) {}
.tabpanel1-3-background img:nth-of-type(7) {}

.tabpanel1-3-background img:nth-of-type(8) {}
.tabpanel1-3-background img:nth-of-type(9) {;}
.tabpanel1-3-background img:nth-of-type(10) {}
.tabpanel1-3-background img:nth-of-type(11) {}
.tabpanel1-3-background img:nth-of-type(12) {}

.is-observed .tabpanel1-3-o {animation:ox 16s infinite forwards;}
.is-observed .tabpanel1-3-x {animation:ox 16s infinite forwards;}

.is-observed .tabpanel1-3-background img:nth-of-type(1) {left:0%;animation-duration:16s;}
.is-observed .tabpanel1-3-background img:nth-of-type(2) {left:2.2%;animation-duration:20s;}
.is-observed .tabpanel1-3-background img:nth-of-type(3) {left:7.8%;animation-duration:26s;}
.is-observed .tabpanel1-3-background img:nth-of-type(4) {left:26%;animation-duration:14s;}
.is-observed .tabpanel1-3-background img:nth-of-type(5) {right:23%;animation-duration:24s;}
.is-observed .tabpanel1-3-background img:nth-of-type(6) {right:6.4%;animation-duration:36s;}
.is-observed .tabpanel1-3-background img:nth-of-type(7) {right:0%;animation-duration:34s;}
.is-observed .tabpanel1-3-background img:nth-of-type(8) {left:9.8%;animation-duration:22s;}
.is-observed .tabpanel1-3-background img:nth-of-type(9) {left:35.4%;animation-duration:18s;}
.is-observed .tabpanel1-3-background img:nth-of-type(10) {right:17%;animation-duration:28s;}
.is-observed .tabpanel1-3-background img:nth-of-type(11) {right:17%;animation-duration:32s;}
.is-observed .tabpanel1-3-background img:nth-of-type(12) {right:7%;animation-duration:30s;}

.tabpanel1-4-wrap {width:100%;max-width:511px;overflow:hidden;position:absolute;}
.tabpanel1-4-wrap-inbox {height:594px;position:relative;}
.tabpanel1-4-wrap .viewer {position: absolute;}

.tabpanel1-4-wrap .question {margin:0 0 30px 0;position:relative;}
.tabpanel1-4-wrap .question:last-child {margin-bottom:0;}
.tabpanel1-4-wrap .question .bookmark {max-width:14%;position:absolute;right:3.1%;}

.is-observed  .tabpanel1-4-wrap .viewer {animation:test 8s linear var(--animation-duration);}
.is-observed  .question .bookmark {animation:bookmark .2s linear both;}
.is-observed .tabpanel1-4-wrap .question:nth-of-type(1) .bookmark {display:none;}
.is-observed .tabpanel1-4-wrap .question:nth-of-type(2) .bookmark {top:21.5%;animation-delay:2s;}
.is-observed .tabpanel1-4-wrap .question:nth-of-type(3) .bookmark {top:25%;animation-delay:4s;}
.is-observed .tabpanel1-4-wrap .question:nth-of-type(4) .bookmark {top:27%;animation-delay:6s;}
.is-observed .tabpanel1-4-wrap .question:nth-of-type(5) .bookmark {top:21%;animation-delay:8s;}

.before-blur {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.after-blur {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}


/*  todo 왼쪽 정렬 absolute */

.tabpanel1-2-wrap {
  max-width:582px;position:absolute;
}

.tabpanel2-1-wrap {width:46.58333333333%;max-width:559px;margin:0 auto;position:absolute;animation:none !important;opacity:1;}
.tabpanel2-1-1 {max-width:530px;position:absolute;left:0px;top:0px;transition:all var(--animation-duration);transform:scale(.5);opacity:0;}
.tabpanel2-1-2 {transition:all var(--animation-duration);transform:scale(.2);opacity:0;}
.is-observed .tabpanel2-1-1 {opacity:1;transform:scale(1);transition-delay:1s;}
.is-observed .tabpanel2-1-2 {opacity:1;transform:scale(1);transition-delay:1.3s;}

.tabpanel2-2-wrap {width:51.75%;}
.tabpanel2-2-1 {max-width:560px;position:absolute;}

.tabpanel2-3-wrap {max-width:786px;}
/* .tabpanel2-4-wrap {max-width:758px;} */

.tabpanel2-5-wrap {width:44.41666666667%;position:absolute;animation:none !important;opacity:1;}
.tabpanel2-5-1 {max-width:402px;box-shadow:var(--shadow400);position:absolute;left:10.8818011257%;top:14.57489878543%;z-index:1;opacity:0;}
.tabpanel2-5-2 {max-width:533px;opacity:0;}
.is-observed .tabpanel2-5-1 {animation:fadeup var(--animation-duration) 1s forwards;}
.is-observed .tabpanel2-5-2 {transition:all var(--animation-duration) 1s;opacity:1;}

.tabpanel3-1-1 {max-width:749px;margin:4rem auto 0;}

.tabpanel3-2-wrap {max-width:990px;margin-bottom:10rem !important;position:relative;animation:none !important;opacity:1;}
.tabpanel3-2-1 {max-width:645px;box-shadow:var(--shadow400);opacity:0;}
.tabpanel3-2-2 {max-width:645px;box-shadow:var(--shadow400);position:absolute;right:0;top:158px;opacity:0;}

.is-observed .tabpanel3-2-1 {animation:faderight var(--animation-duration) 1s both;}
.is-observed .tabpanel3-2-2 {animation:fadeleft var(--animation-duration) 1.4s both;}


.tabpanel3-3-wrap {width:51%;max-width:612px;position:absolute;}

.tabpanel3-4-wrap {max-width:582px;margin:6rem 0 0;position:absolute;animation:none !important;opacity:1;}
.tabpanel3-4-1 {opacity:0;}
.tabpanel3-4-2 {max-width:17.86941580756%;position:absolute;right:22%;top:0;z-index:1;opacity:0;box-shadow:var(--shadow400);}
.tabpanel3-4-3 {max-width:27.14776632302%;position:absolute;right:0;top:24%;opacity:0;} 
/*  */
.is-observed .tabpanel3-4-1 {animation:fadeup var(--animation-duration) 1s both;}
.is-observed .tabpanel3-4-2 {animation:fadeup var(--animation-duration) 1.8s both;}
.is-observed .tabpanel3-4-3 {animation:fadeup var(--animation-duration) 1.4s both;}

/* todo size  % */
.tabpanel4-1-wrap {width:51%;max-width:612px;position:absolute;animation:none;}
.is-observed .tabpanel4-1-1 {max-width:271px;position:relative;left:0;top:0;z-index:2;}
.is-observed .tabpanel4-1-2 {max-width:311px;position:absolute;right:12%;top:23%;z-index:3;animation:fadeup var(--animation-duration) 1.4s both;}
.is-observed .tabpanel4-1-3 {max-width:377px;position:absolute;right:5px;bottom:26px;z-index:4;animation:fadeup var(--animation-duration) 1.8s both;}


.tabpanel4-2-wrap {display:flex;justify-content:center;max-width:743px;margin-bottom:-18.3rem !important;}
.tabpanel4-2-wrap img {}

.tabpanel4-3-wrap {width:50.91666666667%;max-width:612px;position:absolute;}
.tabpanel4-3-1 {}



.tabpanel4-4-wrap {}
.tabpanel4-4-1 {max-width:862px;margin:4rem auto 0;}

.tabpanel4-5-wrap {max-width:520px;position:absolute;}


.tabpanel2-2-wrap {width:50.83333333333%;max-width:610px;position:absolute;}
.tabpanel2-2-wrap .tag1 {width:15.78099838969%;max-width:98px;margin-bottom:2rem;margin-left:auto;}
.tabpanel2-2-wrap .confirm {max-width:499px;margin-left: auto;margin-top:36px;}
.tabpanel2-2-wrap .tag2 {width:100%;max-width:98px;position:absolute;left:-3%;bottom:10.9%;}
.tabpanel2-2-wrap .users {width:100%;max-width:588px;margin:0 -6px;display:flex;flex-wrap:wrap;}
.tabpanel2-2-wrap .users > div {width:184px;margin:0 6px 14px;position:relative;}
.tabpanel2-2-wrap .users > div .donut-wrap {width:41.08108108108%;position:absolute;top:25%;left:5%;z-index:1;}
.tabpanel2-2-wrap .users > div img {display:block;}
.tabpanel2-2-wrap .users > div.user1 {}
.tabpanel2-2-wrap .users > div.user1 {}
.tabpanel2-2-wrap .users > div.user1 {}
.tabpanel2-2-wrap .users > div.user1 {}
.tabpanel2-2-wrap .users > div.user1 {}
.tabpanel2-2-wrap .users > div.user1 {}



.drop-shadow {will-change: filter;filter:drop-shadow(var(--shadow400));position:relative;}
.drop-shadow::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-right: .5rem solid transparent;
  border-left: .5rem solid transparent;
  /* border-bottom: .5rem solid #0f0; */
  top: -.5rem;
  left: .5rem;
}


.view-only-desktop {display:block;}
.view-only-moblie {display:none;}



.donut-ring {stroke: #EBEBEB;}
.donut-segment {stroke-linecap:round;transform-origin:center;animation-delay:1.2s !important;}
.donut-text {}
.donut-data {font-size: 0.25em;text-anchor: middle;fill: var(--gray600);}
.donut-percent {font-size: 0.5em;fill: var(--gray700);font-weight:600;}

.is-observed .user1 .donut-segment {stroke: var(--blue400);animation: donut1 3s both;
}
.is-observed .user2 .donut-segment {
  stroke: var(--red400);
  animation: donut2 3s both;
}
.is-observed .user2 .donut-percent {
  fill: var(--red400);
}
.is-observed .user3 .donut-segment {
  stroke: var(--green100);
  animation: donut3 3s both;
}
.is-observed .user4 .donut-segment {
  stroke: var(--yellow);
  animation: donut4 3s both;
}
.is-observed .user5 .donut-segment {
  stroke: var(--green100);
  animation: donut5 3s both;
}
.is-observed .user6 .donut-segment {
  stroke: var(--blue400);
  animation: donut6 3s both;
}



@media (max-width:1024px) {
  html {font-size:12px;}
  .navbar {padding: 0 var(--grid-margin);}


  .navbar-menu {margin-right:-.5rem;}
  .navbar-menu-item {padding:0 .5rem;}

  .view-only-desktop {display:none;}
  .view-only-moblie {display:block;}

  .home-tabpanel-section-media {width:100% !important;}

  .align-half .home-tabpanel-section-inner {justify-content:center;text-align:center;}
  .align-half .home-tabpanel-section-title {width:100%;padding-left:0;}
  .align-half .home-tabpanel-section-description {width:100%;padding-left:0;}
  .align-half .home-tabpanel-section-media {margin-top:3rem;position:relative !important;}
  .home-tabpanel-section-inner {padding:6rem var(--grid-margin) !important;}
  .home-tabpanel-section-inner > div {margin-left:auto;margin-right:auto;position:relative !important;}

  .tabpanel2-2-wrap .users {justify-content:space-between;max-width:1000px;margin:-2rem auto;padding:2rem 0;}
  .tabpanel2-2-wrap .tag1,
  .tabpanel2-2-wrap .tag2,
  .tabpanel2-2-wrap .users .user5,
  .tabpanel2-2-wrap .users .user6 {display: none}
  .tabpanel2-2-wrap .users > div {width:calc(50% - .5rem);margin:0 0 14px 0;position:relative;}
  .tabpanel2-2-wrap .confirm {max-width:1000px;margin:0;}
/* 
  margin-right: -4rem;}
.tabpanel2-2-wrap .tag2 {width:100%;max-width:98px;position:absolute;left:65px;bottom:80px;}
.tabpanel2-2-wrap .users {width:100%;max-width:580px;margin:0 auto;display:flex;flex-wrap:wrap;justify-content:space-between;}
.tabpanel2-2-wrap .users > div {width:185px;margin:0 0 14px 0;position:relative;}
.tabpanel2-2-wrap .users > div .donut-wrap {width:76px;position:absolute;top:25%;left:5%;z-index:1;}
.tabpanel2-2-wrap .users > div img {display:block;} */


  .home-tablist-backdrop {height: 66px;}
  .tabpanel2-5-wrap {max-width:80%;}
  .tabpanel2-5-1 {max-width:78%;}


  /* todo */
  .footer {padding-bottom:10rem;font-size:14px;}

  .tabpanel3-2-wrap {margin-bottom:0 !important;}
  .tabpanel3-2-1 {margin:0 auto 0;}
  .tabpanel3-2-2 {margin:2rem auto 0;position: relative;top:auto;}

  .tabpanel4-2-wrap {margin-bottom:0 !important;}

  .is-observed .tabpanel4-1-1 {max-width:42.66666666667%;box-shadow:var(--shadow400);}
  .is-observed .tabpanel4-1-2 {max-width:32.26666666667%;right:20%;top:17%;}
  .is-observed .tabpanel4-1-3 {max-width:66.66666666667%;right:5px;bottom:-10px;}

  .tabpanel1-4-wrap .question {margin-bottom:17px;}

  .donut-percent-wrap {transform:translateY(-2px)}
}


@media (max-width:720px) {
}

@media (max-width:680px) {
  .home-tablist {}
  .home-tablist-inner {display:block;overflow:auto;white-space:nowrap;padding:0 1rem;}
  .home-tablist-inner::-webkit-scrollbar {display:none;}
  .home-tablist-tab {display:inline-block;width:auto;padding-left:1rem;padding-right:1rem;font-size:16px;}
  .home-tablist-tab small {display:none;}

  .home-tablist-backdrop {height: 56px;}

  .tabpanel1-4-wrap-inbox {height:400px;}
}



