@charset 'utf-8';

.browser {background:var(--blue100);text-align:center;}
.browser-inner {max-width:808px;margin:0 auto;padding:4rem var(--grid-margin);position:relative;}
.browser-title {margin:0 0 1rem 0;color:var(--gray900);}
/* .browser-description {font-size:10.11px;line-height:13.5px;color:var(--gray700);} */
.browser-description {color:var(--gray700);}
.browser-button {display:flex;align-items:center;justify-content:center;width:83px;height:29px;margin:2rem auto;padding:0 1rem;background:#5480A9;font-size:14px;color:#fff;}
.browser-object1 {width:256px;margin:2rem auto 0;}
.browser-object2 {width:100px;position:absolute;right:30px;top:6rem;}
.browser-object3 {width:100px;position:absolute;left:10px;bottom:4rem;}
