@charset "utf-8";

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeup {
	0% {opacity:0;transform: translateY(40px);}
	100% {opacity:1;transform: translateY(0px);}
}

@keyframes faderight {
	0% {opacity:0;transform: translateX(40px);}
	100% {opacity:1;transform: translateX(0px);}
}

@keyframes fadeleft {
	0% {opacity:0;transform:translateX(-40px);}
	100% {opacity:1;transform:translateX(0px);}
}


@keyframes hero-object1 {
	0% {transform: translateY(0);}
	25% {transform: translateY(30px);}
	50% {transform: translateY(10px);}
	75% {transform: translateY(20px);}
	100% {transform: translateY(0px);}
}

@keyframes hero-object2 {
	0% {transform: translateY(0);}
	25% {transform: translateY(-30px);}
	50% {transform: translateY(-10px);}
	75% {transform: translateY(-20px);}
	100% {transform: translateY(0px);}
}

@keyframes apply-coin {
	0% {transform: translateY(0);}
	50% {transform: translateY(20px);}
	100% {transform: translateY(0px);}
}


@keyframes test {
	0% {transform: translateY(0px);}
	100% {transform: translateY(-70%);}
}

@keyframes bookmark {
	0% {transform:scale(0)}
	80% {transform:scale(1.1)}
	100% {transform:scale(1)}
}

@keyframes tab1-3-1 {
	0% {
		opacity:1;
	}
	45% {
	opacity:1;
	}
	55% {
	opacity:0;
	}
	100% {
	opacity:0;
	}
}



@keyframes ox {
	0% {}
	50% {}
	100% {
	  transform: translateX(10px) translateY(-2000px);
	  /* transform: translateY(160px) translateX(2560px) translateZ(-500px) rotate3d(1, 1, .25, 720deg); */
	}
}








@keyframes donut1 {
	0% {stroke-dasharray: 0, 100;}
	100% {stroke-dasharray: 69, 31;}
  }
  @keyframes donut2 {
	0% {stroke-dasharray: 0, 100;}
	100% {stroke-dasharray: 22, 78;}
  }
  @keyframes donut3 {
	0% {stroke-dasharray: 0, 100;}
	100% {stroke-dasharray: 78, 22;}
  }
  @keyframes donut4 {
	0% {stroke-dasharray: 0, 100;}
	100% {stroke-dasharray: 47, 53;}
  }
  @keyframes donut5 {
	0% {stroke-dasharray: 0, 100;}
	100% {stroke-dasharray: 70, 30;}
  }
  @keyframes donut6 {
	0% {stroke-dasharray: 0, 100;}
	100% {stroke-dasharray: 85, 15;}
  }
  