/* @custom-media --viewport-small (max-width: 1200px);
@custom-media --viewport-tiny (max-width: 1200px); */

:root {
  --fontstack: 'NanumSquare', sans-serif;
  --gray0: #fff;
  --gray100: #fafafa;
  --gray500: #c0c0c0;
  --gray600: #9f9f9f;
  --gray700: #818181;
  --gray800: #4c4c4c;
  --gray900: #343434;
  --gray999: #000;
  --blue100: #f8fcff;
  --blue300: #00abff;
  --blue400: #1a8ef9;
  --red400: #fd5354;
  --green100: #54c0b1;
  --navy: #052e53;
  --yellow: #ffa825;

  --color-primary: var(--blue400);

  --width-large: 1200px;

  --navbar-height: 64px;

  --title: 2rem;
  --body: 1rem;
  --caption: .875rem;
  
  --weight-normal: 400;
  --font-weight-bold: 600;
  --weight-extrabold: 800;

  --container-medium: 640px;
  --container-large: 1440px;

  --shadow400: 0px 0px 24px rgba(0,0,0,.1);

  --link-color: #fff;
  --accent-color: #fff;
  --error-color: #fff;

  --button-background: #fff;
  --button-text-color: #fff;

  --card-background: #fff;
  --card-border: 1px solid #fff;
  --card-padding: 1.5rem;

  --border100: 1px solid var(--gray200);

  --radius400: 4px;
  --radius800: 50%;
  --radius-default: var(--radius400);
  --radius-avatar: var(--radius400);

  --shadow400: 0px 0px 2rem rgba(0, 0, 0, 0.125);

  --color-container-border: #000;
  --color-box-border: var(--gray100);
  --color-button-border: #000;
  --color-button-body: #000;

  --grid-margin: 5%;
}


.linebreak-desktop {
  display: block;
}
.linebreak-mobile {
  display: inline;
  /* @media (max-width:1200px;) {
    display: block;
  } */
}

@media (max-width:800px) {
  .linebreak-desktop {display: inline}
  .linebreak-mobile {display: block}
}